contrasena las el usuario 
nombre: Scripts python correo
password:  dbhy pxxk wcrw rblb
/* Este archivo se utiliza para almacenar información sensible, como contraseñas, que no deben ser compartidas públicamente. Asegúrate de no subir este archivo a repositorios públicos o compartirlo con personas no autorizadas. */

remitente = "scriptspythonemail@gmail.com"
contraseña = "dbhy pxxk wcrw rblb"